/* Content */
#personal__info {
  width: 100%;
}

#user__details, #user__accounts {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 80vw;
    padding: 2rem;
  }

#personal__info span, #personal__info p {
    font-size: 1.2em;
    color: black;
 }

#profile__edit, #account__edit{
  margin-left: 5px;
}

 #personal__info p {
    font-weight: 700;
 }

 #personal__info span {
    font-weight: 100;
 }

 #form_required {
    color: red;
}

.form_details_body {
    background-color: #cecfd6;
    padding: 40px 20px 40px 20px;
}

#registrationForm label{
    font-weight: 700;
}

#registrationForm a{
    color: #6A6972;
}
.image-upload>input {
    display: none;
  }
  
  .error {
    color: red;
  }

  input.error {
    border: thin solid red;
  }

  #sendotp {
    font-size: 14px;
  }
  
  .sendotp {
    color: #007bff !important;
  }

  .resendotp {
    color: #007bff !important;
  }

  #preview {
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 250px;
  }