#pdc_banner {
    height: 40vh;
    background-image: url(../banner/destiny_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #3b3d49;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Banner */
.navigation {
    margin-top: 50px;
}
.navigation a {
    color: aqua;
}

/* Content */
#content {
    padding: 5rem;
    display: flex;
}

.appointments {
    display: flex;
    justify-content: center;
}

.descrip{
    margin-top: 50px;
}

.list__img{
	width: 250px;
	height: 250px
}


@media (max-width:1228px){
	.list-group-item img{
        width: 200px;
        height: 200px;
    }
    .list-group-item{
        font-size: 16px;
    }

    .descrip{
        margin-top: 0;
    }
}

@media (max-width:1015px){
	.list-group-item img{
        width: 150px;
        height: 150px;
    }
    .list-group-item{
        font-size: 14px;
    }

    .descrip{
        margin-top: 0;
    }
}

@media (max-width:400px){
	.list-group-item img{
        width: 150px;
        height: 150px;
    }
    .list-group-item{
        font-size: 12px;
    }

    .descrip{
        margin-top: 0;
    }
}