/* * */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-bg: #30235f99;
    --color-bg-varaint: #0000;
    --color-bg-dark: #1f1c41;
    --color-white: #fff;
    --color-cyan: #00e0de;
    --color-dark: #1b8190;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

p, a {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Playfair Display';
}

html {
    scroll-behavior: smooth;
}

/* Navigation Baar */
.navbar .getstarted {
	background: #106eea;
	margin-left: 30px;
	border-radius: 4px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	padding: .5rem 1rem;
	line-height: 2.3;
}
.navbar-nav a {
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
}
.navbar-light .navbar-brand {
	/* color: #000; */
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
	color: #000;
}
.navbar-light .navbar-nav .nav-link {
	color: #000;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
	color: #000;
}
.w-100 {
	height: 100vh;
}
.navbar-toggler {
	padding: 1px 5px;
	font-size: 18px;
	line-height: 0.3;
	background: #fff;
}

/* Footer */
footer {
	background: #101010;
	padding: 86px 0;
}
.footer-single-box p {
	color: #fff;
	line-height: 1.9;
}
.footer-single-box h3 {
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}
.footer-single-box .card-area i {
	color: #ffffff;
	font-size: 20px;
	margin-right: 10px;
}
.footer-single-box ul {
	list-style: none;
	padding: 0;
}
.footer-single-box ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 2.5;
	font-weight: 100;
}
.footer-single-box h2 {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}
#basic-addon2 {
	background: #fe1e4f;
	color: #fff;
}
.footer-socials i {
	font-size: 18px;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.footer-single-box {
		margin-bottom: 50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.footer-single-box {
		margin-bottom: 50px;
	}
}

/* Home Link */
#mainmenu {
	cursor: pointer;
}

/* Modal Login */

.modal-login-header {
	margin-top: 10px;
	margin-right: 10px;
}

